.social:hover{
    background-color: orangered !important;
}
.sticky-top{
    position: sticky !important;
    top: 0 !important;
}
.position-sticky{
    position: sticky !important;
    top: 0 !important;
}
.nav-link:hover{
    color: orangered !important;
}
.logo{
    position: relative !important;
    top: -50px;
    left: -60px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: orangered;
    text-align: center;
    padding: 15px;
}
.logo img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.card-img-top{
    height: 100%;
}
.video{
    height: 400px;
}
.video2 img{
    border-radius: 20px;
}
.video1{
    background-image: url(https://templatemo.com/templates/templatemo_591_villa_agency/assets/images/video-bg.jpg);
    background-size: cover;
}
.feature{
    height: 4rem;
    background-color: rgba(223, 169, 149, 0.645);
}
.number{
    font-size: 30px;
    font-weight: 900;
}
.bg-orange{
    background-color: orangered !important;
}
.bg-gray{
    background-color: rgb(236, 235, 235);
}
.cardimg img{
    height: 300px !important;
}
.contactus{
    background-image: url(https://templatemo.com/templates/templatemo_591_villa_agency/assets/images/contact-bg.jpg);
    background-size: cover;
    height: 500px;
}
.light-shadow{
    box-shadow: 0 0 5px 0px rgb(188, 185, 185);
}
.icon img{
    height: 40px;
    width: 40px;
}
.totalcontact{
    height: 900px;
}
.bg-black{
    background-color: black;
}
div .orange:hover{
    background-color: orangered !important;
}
.Appartment img{
    height: 100%;
    width: 100%;
}
.toppp{
    z-index: 1000;
    position: fixed !important;
    bottom: 20px !important;
    right: 20px !important;
    background-color: rgba(0, 0, 255, 0.678) !important;
}
.anchordecoration{
    text-decoration: none !important;
}
.propertyhome{
    background-image: url(	https://templatemo.com/templates/templatemo_591_villa_agency/assets/images/page-heading-bg.jpg);
    background-size: cover;
}